openapi: 3.1.0
info:
  title: Split Admin Workspaces API
  description: The Split Admin API is a REST API that enables programmatic management of workspaces (projects), environments, traffic types, attributes, users, groups, API keys, and change requests within the Split platform (now Harness Feature Management and Experimentation). The API uses resource-oriented URLs, returns JSON responses, and requires Admin API keys for authentication. All endpoints are prefixed with /internal/api/v2 on the api.split.io host.
  version: '2.0'
  contact:
    name: Split Support
    url: https://help.split.io
  termsOfService: https://www.split.io/terms-of-service/
servers:
- url: https://api.split.io/internal/api/v2
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Workspaces
  description: Manage workspaces (projects) which organize feature flags and experiments across business units, product lines, and applications.
paths:
  /workspaces:
    get:
      operationId: listWorkspaces
      summary: List workspaces
      description: Retrieves all workspaces (projects) accessible to the authenticated Admin API key. Workspaces allow you to separately manage feature flags and experiments across different business units or applications.
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: Successful response containing list of workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
        '401':
          description: Unauthorized - invalid or missing API key
        '429':
          description: Rate limit exceeded
components:
  parameters:
    offsetParam:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limitParam:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
  schemas:
    WorkspaceList:
      type: object
      description: Paginated list of workspaces
      properties:
        objects:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        offset:
          type: integer
          description: Current offset in the result set
        limit:
          type: integer
          description: Maximum number of results returned
        totalCount:
          type: integer
          description: Total number of workspaces available
    Workspace:
      type: object
      description: A workspace (project) that organizes feature flags and experiments across business units or applications.
      properties:
        id:
          type: string
          description: Unique identifier for the workspace
        name:
          type: string
          description: Human-readable name of the workspace
        requiresTitleAndComments:
          type: boolean
          description: Whether changes require titles and comments
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Admin API key passed as a Bearer token in the Authorization header.
externalDocs:
  description: Split Admin API Documentation
  url: https://docs.split.io/reference/introduction
