openapi: 3.1.0
info:
  title: Split Admin Traffic Types API
  description: The Split Admin API is a REST API that enables programmatic management of workspaces (projects), environments, traffic types, attributes, users, groups, API keys, and change requests within the Split platform (now Harness Feature Management and Experimentation). The API uses resource-oriented URLs, returns JSON responses, and requires Admin API keys for authentication. All endpoints are prefixed with /internal/api/v2 on the api.split.io host.
  version: '2.0'
  contact:
    name: Split Support
    url: https://help.split.io
  termsOfService: https://www.split.io/terms-of-service/
servers:
- url: https://api.split.io/internal/api/v2
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Traffic Types
  description: Manage traffic types which define the entities (users, accounts, etc.) that feature flags target.
paths:
  /trafficTypes/ws/{workspaceId}:
    get:
      operationId: listTrafficTypes
      summary: List traffic types
      description: Retrieves all traffic types defined within the specified workspace. Traffic types represent the kinds of entities that feature flags can target, such as users or accounts.
      tags:
      - Traffic Types
      parameters:
      - $ref: '#/components/parameters/workspaceIdParam'
      responses:
        '200':
          description: Successful response containing list of traffic types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrafficType'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Workspace not found
components:
  parameters:
    workspaceIdParam:
      name: workspaceId
      in: path
      required: true
      description: The unique identifier of the workspace
      schema:
        type: string
  schemas:
    TrafficType:
      type: object
      description: A traffic type defining the kind of entity that feature flags target.
      properties:
        id:
          type: string
          description: Unique identifier for the traffic type
        name:
          type: string
          description: Name of the traffic type (e.g., user, account)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Admin API key passed as a Bearer token in the Authorization header.
externalDocs:
  description: Split Admin API Documentation
  url: https://docs.split.io/reference/introduction
